@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to my Yarn Stash!</h1>
    </div>
    
        <img src="~/Content/Images/basketOfYarn.jpg" alt="Basket of yarn" class="front-pic"/>
   
    
