@model YarnStash.Models.PatternModel
@using YarnStash.Models

@{
	ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create</title>
</head>
<body>

	<h4>Pattern</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Designer" class="control-label"></label>
					<input asp-for="Designer" class="form-control" />
					<span asp-validation-for="Designer" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Size" class="control-label"></label>
					<select asp-for="Size" asp-items="Html.GetEnumSelectList<SizeEnum>()" class="form-control"></select>
					<span asp-validation-for="Size" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Amount" class="control-label">Amount (in yards)</label>
					<input asp-for="Amount" class="form-control" min="0" step="1" />
					<span asp-validation-for="Amount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="NeedleSize" class="control-label">Needle Size</label><br />
					<input asp-for="NeedleSize" class="form-control" min="0" step="1" max="50"/>
					<span asp-validation-for="NeedleSize" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Type" class="control-label">Project Type</label>
					<select asp-for="Type" asp-items="Html.GetEnumSelectList<TypeEnum>()" class="form-control" ></select>
					<span asp-validation-for="Type" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>

	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
</body>
</html>