@model IEnumerable<YarnStash.Models.YarnModel>

@{
    ViewData["Title"] = "Yarn Library";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Brand or Name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync(ViewData["SearchResults"] as string)

</body>
</html>
